manifest.mainScript = 'sqtlseeker2.nf'

docker.enabled = true

/* 
 *  Alternatively, if you want to use singularity,
 *  just replace the previous line by:
 * 
 *  singularity.enabled = true
 *
 */

process {
  container = 'dgarrimar/sqtlseekerfx@sha256:12b89409bffd668f738400fcccd6fd2a176da205a7fb6bc9a0ec0e7a96431526'
}

