// main script name
manifest.mainScript = 'sqtlseeker2.int.nf'

// small input dataset for testing
params {
    genotype = "$baseDir/data/genotypes.tsv.gz"
    trexp = "$baseDir/data/texpression.tsv.gz"
    metadata = "$baseDir/data/metadata.tsv"
    genes = "$baseDir/data/genes.bed"
}

// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Singularity is disabled by default and uses autoMounts when enabled
singularity {
    autoMounts = true
}

// Enable trace by default
trace.enabled = true

