executor {
  name = 'sge'   
  queueSize = 1000
}

singularity {
  enabled = true
  cacheDir = 'singularity'
}

process {
  executor = 'sge'
  container = 'docker://dgarrimar/sqtlseekerfx:version1.1'
  queue = 'rg-el7,long-sl7,short-sl7'
  memory = '4G'
  time = '6h'
  
  $make_RData {
    memory = '50G'
  }
  $prepare {
    memory = '20G'
  } 
}
